body{
	padding: 0;
	margin 0px;
	background: #000;

}
p{
	font-size: 15px;
	line-height:  15px;
	text-align: justify;
	-web-kit-background-size:  cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background:url(sheesh.png)no-repeat center / cover;
	background-attachment: fixed;
	-webkit-background-clip:  text;
	-webkit-text-fill-color: rgb(255,255,255,0);

}